.framatable tr td:first-child {
    text-align: right;
}
.published {
    background-color: #9BAE5F;
}
.review {
    background-color: #EB7B41;
}
.ongoing {
    background-color: #DBA306;
}
.untranslated {
    background-color: #CC2D18;
}
