---
title: Framalang
---
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Plongez dans Python 3</title>
<link rel=alternate type=application/atom+xml href=https://github.com/diveintomark/diveintopython3/commits/master.atom>
<link rel=stylesheet href=dip3.css>
<style>
h1:before,h2:before{content:''}
#a,#b,#c,#d{list-style:none;margin:0 0 0 -1.7em}
#a:before{content:'A. \00a0 \00a0'}
#b:before{content:'B. \00a0 \00a0'}
#c:before{content:'C. \00a0 \00a0'}
#d:before{content:'D. \00a0 \00a0'}
</style>
<link rel=stylesheet type="text/css" media=print href=framalang.css>
<link rel=stylesheet media='only screen and (max-device-width: 480px)' href=mobile.css>
<link rel=stylesheet media=print href=print.css>
<meta name=viewport content='initial-scale=1.0'>
</head>
<body>
<form action=http://www.google.com/cse><div><input type=hidden name=cx value=014021643941856155761:l5eihuescdw><input type=hidden name=ie value=UTF-8><input type=search name=q size=25 placeholder="powered by Google&trade;">&nbsp;<input type=submit name=sa value=Search></div></form>

<p>Vous êtes ici :&nbsp;&nbsp;<span title="Ce n'est pas un point" style='cursor:default'>&bull;</span>

<h1>Plongez dans Python 3 &mdash; Framalang</h1>

<h2>Avancement</h2>

<table class="framatable">
{% assign sorted_pages = site.pages | sort:"name" %}
{% for item in sorted_pages  %}
{% if item.status %}
<tr>
    <td><a href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a></td>
    <td><span class="{% case item.status %}{% when 'Publié' %}published{% when 'Relecture' %}review{% when 'En cours' %}ongoing{% else %}untranslated{% endcase %}">{{ item.status }}</span></td>
</tr>
{% endif %}
{% endfor %}
</table>

<h2>Méthodologie Git</h2>

TODO: Include le README ici.

<p>Ce livre est sous licence libre <a rel=license href=http://creativecommons.org/licenses/by-sa/3.0/>Creative Commons Attribution Share-Alike</a>. Vous pouvez le télécharger en <a href="https://github.com/diveintomark/diveintopython3/zipball/master"><abbr>HTML</abbr></a> ou <a href="https://github.com/downloads/diveintomark/diveintopython3/dive-into-python3.pdf"><abbr>PDF</abbr></a>. Les &uuml;ber-geeks peuvent aussi cloner le dépôt Git :

<pre><samp class=p>you@localhost:~$ </samp><kbd>git clone <a href=https://github.com/diveintomark/diveintopython3>git://github.com/diveintomark/diveintopython3.git</a></kbd></pre>

<p class=c>&copy; 2001&ndash;11 <a href=about.html>Mark Pilgrim</a>

<p class=c>Traductions : <a href=http://code.google.com/p/inmersionenpython3/ lang=es hreflang=es>en espa&ntilde;ol</a>, <a href=http://gpiancastelli.altervista.org/dip3-it/ lang=it hreflang=it>in italiano</a>, <a href="http://ru.wikisource.org/wiki/%D0%9F%D0%BE%D0%B3%D1%80%D1%83%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_Python_3_(%D0%9F%D0%B8%D0%BB%D0%B3%D1%80%D0%B8%D0%BC)" lang=ru hreflang=ru>на русском языке</a>, <a href=http://www.diveintopython3.ir/ lang=fa hreflang=fa dir=rtl>به پارسی</a>, <a href="http://diveintopython3.py.cz/" lang="cs" hreflang="cs">česky</a>
</body>
</html>
